@import "./variables";

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  background: $--greyLight-1;
}

li {
  list-style: none;
}

h1,
h2,
h3 {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 1.5rem;
}
